/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@600&display=swap');
:root {

  --main-bg-color : #FFFFFF;
  --secondary-bg-color : #191919;
  --third-color : #008BD2;
  --fourth-color: #9EC41E ;
  --light-text-color : #717171;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 4px 16px, #e1e1e1 0px 8px 16px;
  --font-title : 'Mukta', sans-serif;
  --font-text :'Josefin Sans', sans-serif;
  --max-width: 1200px;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-family: var(--font-text);
  overflow-x: hidden;
}

h1, h2 {
  font-family: var(--font-title);
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  font-weight: bold;
  background-color: var(--third-color);
  color: var(--main-bg-color);
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

  .none {
    display: none;
  }
/********************************************************************* HEADER *********************************************************************/ 


/****************** HEADER TOP ***********************/

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  padding: 0.5rem 2rem;
}
.header_top * {
  background-color: inherit;
  color: inherit;
}

.header_top_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_top_left a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.header_top_right a {
  padding: 0 0.5rem;
} 
.header_top_left img {
  margin: 0 0.5rem;
}

/****************** NAVBAR ***********************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar .logo {
  width: 5rem;
}

.nav_white, .nav_white * {
  background-color: transparent;
  color: var(--main-bg-color);
}
.nav_white {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.nav_middle {
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav_middle > * {
  padding: 0 1rem;
}

.button_white_blue {
  background-color: var(--main-bg-color);
  color: var(--third-color);
}

/********************************************************************* HOME *********************************************************************/ 
/****************** VIDEO ***********************/
.video {
  position: relative;
}
.video video {
  width: 100%;
  height: 80vh;
  object-fit: cover;

}

.video .veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-bg-color);
  opacity: 40%;
}

.video .h1 {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--main-bg-color);
  background-color: transparent;
  font-size: 4rem;
  width: 60%;
}

/****************** NOTRE MISSION ***********************/

.mission {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
  padding: 0;
}
/**** bloc left*******/

.mission_bloc_left {
  transform: translateY(-8rem);
  width: 50%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0px 3px 6px #00000029;
}

.mission_bloc_left p {
  width: 80%;
  text-align: center;
}

.mission_bloc_left .mission_main_img {
  width: 40%;
  height: 100%;
  object-fit: cover;
}

.mission_bloc_left .mission_main_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/**** bloc right*******/
.mission_bloc_right {
  width: 25%;
  height: calc(70vh - 8rem);
  background-color: var(--fourth-color);
  color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 6px #00000029;
}

.mission_bloc_right > * {
  background-color: inherit;
  margin: 0.5rem 0;
}

.mission_bloc_right p {
  width: 80%;
  text-align: center;
}

/****************** INTERVENTIONS  ***********************/

.interventions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interventions_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intervention {
  width: 20%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intervention p {
  color: #717171;
}

.intervention > * {
  margin-bottom: 1rem;
}

.intervention button {
  border: none;
  color: var(--third-color);
  font-weight: bold;
}

/****************** CHIFFRES  ***********************/
.chiffres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(107deg, #9EC41E, #008BD2);
}

.chiffres *  {
  background-color: transparent;
  color: var(--main-bg-color);
}

.chiffres > * {
  margin: 1rem 0;
}

.chiffres > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.chiffres > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}



/****************** ESS  ***********************/
.ess {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aci {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aci .aci_div {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 80vw;
  max-width:var(--max-width);
  background-color: var(--fourth-color);
  color: var(--main-bg-color);
}

.aci_div > * {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aci_div.blue {
  background-color: var(--third-color);
  color: var(--main-bg-color);
}

.aci_div * {
  background-color: inherit;
  color: inherit;
}

.aci_div article * {
  margin-bottom: 1rem;
}

.aci_div article p {
  width: 80%;
  text-align: center;
}


.button_white_blue {
  background-color: var(--main-bg-color) !important;
  color: var(--third-color) !important;
}

/****************** OBJECTIFS  ***********************/

.objectifs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 10vw;
  position: relative;
}
.objectifs_top_text {
  font-weight: bold;
}
.objectifs * {
  margin: 0.5rem 0;
}
.objectifs ul {
  margin-top: 1rem;
}
.objectifs li {
  margin: 0;
}

.objectifs_top {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, #9EC41E,#008BD2  );
}

.objectifs_bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: linear-gradient(270deg, #9EC41E,#008BD2  );
}

/********************************************************************* COMPOSANTS *********************************************************************/ 
/****************** banniere  ***********************/
.banniere {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banniere h1 {
  font-size: 5rem;
  z-index: 2;
  color: var(--main-bg-color);
  background-color: transparent;
}

.banniere h2 {
  z-index: 2;
  color: var(--main-bg-color);
  background-color: transparent;
}

.banniere a {
  background-color: transparent;
  z-index: 5;
}
.banniere button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.banniere button img {
 width: 1.25rem;
 margin-right: 1rem;
}

.banniere .veil {
  position: absolute;
  background-color: var(--secondary-bg-color);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 40%;
}

.kafrine {
  background-image: url(./assets/kafrine.jpg);
}

.peintres {
  background-image: url(./assets/peintres.jpg);
  background-position: 50%;
}

.sourires {
  background-image: url(./assets/sourires.jpg);
}

.sourireSolidaire {
  background-image: url(./assets/sourireSolidaire.jpg);
  background-position: 50%;
}

.table {
  background-image: url(./assets/table.jpg);
  background-position: 50%;
}

.repas {
  background-image: url(./assets/repas.jpg);
}

.contactBanniere {
  background-image: url(./assets/contact.jpg);
  background-position: 50% 100%;
}

.couture {
  background-image: url(./assets/couture.jpg);
  background-position: 50%;
}

/****************** BARRENAV  ***********************/

.barreNav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 0;
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.barreNav a {
  color: var(--third-color);
  font-weight: bold;
}

.barreNav > * {
  margin-right: 0.5rem;
}

/****************** SOMMAIRE  ***********************/

.sommaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 1rem ;
  background-color: var(--fourth-color);
  color: var(--main-bg-color);
}

.sommaire * {
  background-color: inherit;
  color: inherit;
}

.sommaire .sommaire_left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sommaire .sommaire_left > * {
  margin-right: 1rem;
}

.sommaire .sommaire_right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sommaire .sommaire_right > * {
  margin-left: 1rem;
}

/****************** DUO  ***********************/

.duo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.duo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: var(--max-width);
  margin-bottom: 2rem;
}

.duo:nth-of-type(2n) {
  flex-direction: row-reverse;
}
.duo article {
  padding: 2rem;
}
.duo:nth-of-type(2n) img {
  padding-right: 2rem;
  padding-left: 0;

}
.duo:nth-of-type(2n) img {
  padding-left: 2rem;
  padding-right: 0;
}
.duo:nth-of-type(2n) article {
  padding: 0;
}
.duo > * {
  width: 50%;
}

.duo_img {
  height: 70vh;
  width: 50%;
  object-fit: cover;
}

.duo_article h3 {
  color: var(--third-color);
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

.duo_article p {
  width: 100%;
  margin-bottom: 1rem;
}
/****************** PREFOOTER  ***********************/

.prefooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem 0;
  background-color: var(--fourth-color);
  color: var(--main-bg-color);
}

.prefooter * {
  color: inherit;
  background-color: inherit;
  margin: 1rem;
}
.prefooter h3 {
  font-size: 2rem;
}

/****************** TITLE  ***********************/

.title {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

.title h2 {
  color: var(--third-color);
  font-size: 4rem;
}

.title div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 0 1rem;
}

.title div p {
  margin: 0 0.25rem;
  color: var(--fourth-color);
  font-weight: bold;
}

span {
  font-weight: bold;
}
/********************************************************************* A PROPOS *********************************************************************/ 

.apropos_intro {
  width: 80vw;
  max-width: var(--max-width);
  margin: 0rem auto;
}

.apropos_text, .apropos li {
  margin-bottom: 1.5rem;
}

.apropos span {
  font-weight: bold;
}

.apropos_intro_villes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apropos_intro_villes ul {
  width: 50%;
  padding-right: 3rem;
}
.apropos_intro_villes img {
  height: 15rem;
  width: 50%;
  object-fit: contain;
}

.apropos_objectifs {
  width: 95vw;
  max-width: 1700px;
  margin: 0 auto;
  background-image: url(./assets/background.jpg)
}

.apropos_objectifs * {
  background-color: transparent;
}

.apropos_objectifs_article, .apropos_objectifs h3 {
  width: 80vw;
  max-width: var(--max-width);
  margin: 2rem auto;
}

.apropos_objectifs_article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.apropos_objectifs_article ul {
 width: 50%;
 margin-right: 4rem;
}

/********************************************************************* ESS *********************************************************************/ 

.ess_duo {
  margin-top: -1rem;
  border-bottom: 1px solid #707070;
}

.ess_duo li {
  margin-bottom: 1rem;
  width: 100%;
}

.financer {
  text-align: center;
}

.financer div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.financer div img {
  height: 3rem;
  width: auto;
  margin: 0 0.5rem;
}

/********************************************************************* MESS *********************************************************************/ 

.restoImg {
  width: 50% !important;
  margin: 0 !important;
}
 .h2 {
  text-align: center;
  color: var(--third-color);
  font-size: 3rem;
}

/********************************************************************* FILANOO *********************************************************************/ 



/********************************************************************* CONTACT *********************************************************************/ 

.contact_duo {
  max-width: var(--max-width);
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_duo > * {
  width: 50%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.contact_duo > div.contact_duo_text {
  background: linear-gradient(132deg, #9EC41E,  #008BD2) ;
  padding: 2rem;
}

.contact_duo * {
  background-color: transparent;
  color: var(--main-bg-color);
}

.contact_duo > div.contact_duo_text > * {
  margin: 1rem 0;
}
.contact_duo > div > div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact_duo img {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem;
}

