/********************************************************************* CSS VARIABLES *********************************************************************/ 
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Mukta:wght@600&display=swap');
:root {

  --main-bg-color : #FFFFFF;
  --secondary-bg-color : #191919;
  --third-color : #008BD2;
  --button-color: #0055FF;
  --box-shadow: #e1e1e1 0px 1px 0px, #e1e1e1 0px 4px 16px, #e1e1e1 0px 8px 16px;
  --font-title : 'Mukta', sans-serif;
  --font-text :'Josefin Sans', sans-serif;
}


/********************************************************************* BASIC CSS *********************************************************************/ 
.desktop {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  font-family: var(--font-text);
  overflow-x: hidden;
}

h1, h2 {
  font-family: var(--font-title);
}

a {
  color: initial;
  text-decoration: none;
  font-weight: initial;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0;
}

.no_button {
  background-color: transparent;
  border: none;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-evenly {
  justify-content: space-evenly;
}
.container {
  position: relative;
}

.button_style {
  border: none;
  padding: 0.5rem 1.25rem;
  border-radius: 2rem;
  font-weight: bold;
}

.margin1r0 {
  margin: 1rem 0;
}
.margin0r1r {
  margin: 0 1rem;
}

  .mobile {
    display: none;
  }

  .desktop {
    display: initial;
  }

/********************************************************************* HEADER *********************************************************************/ 


/****************** HEADER TOP ***********************/

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  color: var(--main-bg-color);
  padding: 0.5rem 2rem;
}
.header_top * {
  background-color: inherit;
  color: inherit;
}

.header_top_left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_top_left a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.header_top_right a {
  padding: 0 0.5rem;
} 
.header_top_left img {
  margin: 0 0.5rem;
}

/****************** NAVBAR ***********************/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar .logo {
  width: 5rem;
}

.nav_white, .nav_white * {
  background-color: transparent;
  color: var(--main-bg-color);
}
.nav_white {
  position: absolute;
  width: 100%;
  z-index: 2;
}
.nav_middle {
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav_middle > * {
  padding: 0 1rem;
}

.button_white_blue {
  background-color: var(--main-bg-color);
  color: var(--third-color);
}

/********************************************************************* HOME *********************************************************************/ 
/****************** VIDEO ***********************/
.video {
  position: relative;
  overflow: hidden;
}
.video video {
  width: 100%;
  height: 80vh;
  object-fit: cover;

}

.video .veil {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-bg-color);
  opacity: 40%;
}

.video .h1 {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: var(--main-bg-color);
  background-color: transparent;
  font-size: 4rem;
  width: 60%;
}